extends layout

block content
  div.col-sm-8.col-sm-offset-2
    div.text-center
      h1.fa.fa-user My Profile
      div.jumbotron
        br
        br
        if(user.local.email != null)
          img(src='https://avatars.io/gravatar/#{user.local.email}/140', class='img-circle')
          br
        br
        strong Email:
        |  #{user.local.email}
        if(user._id)
          br
          strong User ID:
          |  #{user._id}