html, body {
  font-family:'Roboto', sans-serif;
  background-color:#fbfbfb;
}

* {
  box-sizing:border-box;
}

.boxHits
{
  padding: 2px;
  transition: transform 0.2s, background 0.5s;
  width: 290px;
  height: 430px;
  background-color:transparent;
}

.boxHits:hover
{
  cursor: pointer;
  transform: scale(1.1);
  z-index:2;
  background-color:#E92F1A;
}

.jumbotron {
  padding-top:0px;
  background-color:#ffffff;
  box-shadow:0px 0px 10px #EBEBEB;
}

.jumbotron nav {
  background-color:transparent;
  border:none;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-top:10px;
  background-color:#E92F1A;
  color:#ffffff;
}

.navbar>.container .navbar-brand:hover, .navbar>.container-fluid .navbar-brand:hover {
  text-decoration:underline;
}

.btn {
  border-radius:0px 0px 0px 0px;
}

.btn-danger {
  background-color:#E92F1A;
}

.form-control {
  border-radius:0px 0px 0px 0px;
}

.form-control:focus {
  border-color:#E92F1A;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 47, 26, 0.6);
}

.nav.navbar-nav {
  margin-top:10px;
}

.nav.navbar-nav li {
  margin-left:10px;
}












/* Movie warnings */
span.ratingG, span.ratingPG, span.ratingM, span.ratingMA, span.ratingR, span.ratingNA {
  text-decoration:uppercase;
  color:#000000;
  font-weight:600;
  padding:0px 15px;
  border-radius:3px 3px 3px 3px;
  -moz-border-radius:3px 3px 3px 3px;
  border:1px solid #FFFFFF;
}

span.ratingG {
  background-color:#18a528;
  color:#ffffff;
}

span.ratingPG {
  background-color:#FFFF00;
}

span.ratingM {
  background-color:#1989f7;
  color:#ffffff;
}

span.ratingMA {
  background-color:#FF0000;
  color:#FFFFFF;
}

span.ratingR {
  background-color:#8b19f7;
  color:#ffffff;
}

span.ratingNA {
  background-color:#FFFFFF;
  border:1px solid #000000;
}